---
import Layout from '@/layouts/Layout.astro'
import Header from '@/ui/Header.astro'
---
<Layout>
	<Header />
	<main class='flex flex-col items-center justify-center size-full'>
		<span class='text-9xl'>404</span>
		<span class='text-3xl'>
			Page not Found
		</span>
	</main>
</Layout>
