---
import Layout from '@/layouts/Layout.astro'
import Header from '@/ui/Header.astro'
import Palette from '@/ui/Palette.svelte'
import Dropzone from '@/components/Dropzone.svelte'
import Footer from '@/ui/Footer.astro'
---
<Layout
	title='What colors'
	description='Drop any image and extracts his palette of colors'>
	<Header />
	<main class='flex flex-col items-center gap-4 w-full min-w-96 px-4'>
		<Dropzone client:load/>
		<Palette client:load/>
	</main>

	<Footer />
</Layout>

<script>
	import { image, imagePixelData, state } from '@/stores.js'
	import { STATES, IMAGE_FILETYPES } from '@/consts.js'
	import { uploadFile, fileToImage, isImage, extractPixelData } from '@/utils.js'

	function filesHandler(files: FileList) {
		const file = files[0]

		if (!isImage(file)) {
			window.alert('paste file is not an image instead is ' + file.type)
			return
		}

		uploadFile(file)
	}

	function pasteHandler(event) {
		event.preventDefault()	

		const clipboardData = event.clipboardData || window.clipboardData
		if (!clipboardData.files && clipboardData.files.length < 0) {
			return
		}

		filesHandler(clipboardData.files)
	}

	function dropHandler(e) {
		e.preventDefault()	
        document.body.classList.remove('dragging')

		if (event.dataTransfer && event.dataTransfer.files.length > 1) {
			filesHandler(e.dataTransfer.files)
		}
	}

	function preventDefault(event) {
		event.preventDefault()	
	}

	function dragEnterHandler(e) {
		const data = e.dataTransfer
		if ((data.files && data.files.length > 0) && STATES.DRAGGING != state.get()) {
			document.body.classList.add('dragging')
			state.set(STATES.DRAGGING)
		}
	}

	function dragLeaveHandler() {
        document.body.classList.remove('dragging')

		if (STATES.INITIAL != state.get()) {
			state.set(STATES.INITIAL)
		}
	}

	document.addEventListener('drop', dropHandler, false)
	document.addEventListener('dragenter', dragEnterHandler)
	document.addEventListener('dragleave', dragLeaveHandler)
	document.addEventListener('dragover', preventDefault)
	document.addEventListener('paste', pasteHandler);
</script>

<style is:global>
	.dragging * {
		pointer-events: none;
	}
</style>
